<header role="banner">
  {{ page.header }}
  {{ page.primary_menu }}
</header>
<div class="page">


  <div class="main-content">
    <main role="main">
      {{ page.highlighted }}
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="layout-content">
        {{ page.content }}
      </div>{# /.layout-content #}

    </main>
  </div>

</div>{# /.layout-container #}
<footer role="contentinfo">
  {{ page.footer }}
</footer>
